.new_publisher_form {
  width: 640px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }
  .new_publisher_form h2 {
    font-size: 1.4em;
    color: #353535;
    border-bottom: 2px solid #0db4e9; }
  .new_publisher_form .warning {
    border: 1px solid #64d1f2;
    padding: 6px 15px 5px;
    margin: 10px 0 30px;
    color: #454545; }
    .new_publisher_form .warning em {
      color: #059cc7; }
  .new_publisher_form .tip {
    background: #ececec;
    color: #444444;
    padding: 7px 10px 6px;
    margin-bottom: 10px; }
  .new_publisher_form h2 {
    margin-bottom: 10px; }
  .new_publisher_form dl.summary {
    padding: 10px 20px 30px; }
    .new_publisher_form dl.summary dt, .new_publisher_form dl.summary dd {
      padding: 3px 0; }
    .new_publisher_form dl.summary dt {
      width: 90px;
      display: inline;
      float: left; }
    .new_publisher_form dl.summary dd {
      margin-left: 100px; }
  .new_publisher_form .buttons {
    padding-top: 10px;
    padding-left: 170px;
    padding-bottom: 100px; }
    .new_publisher_form .buttons:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden; }
    .new_publisher_form .buttons {
      display: inline-block; }
    .IE .new_publisher_form .buttons {
      height: 1%; }
    .new_publisher_form .buttons {
      display: block; }
    .new_publisher_form .buttons li {
      display: inline;
      float: left;
      padding-right: 17px;
      font-size: 0.95em; }

.publisher_header {
  padding: 20px 8px;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 20px; }
  .publisher_header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .publisher_header {
    display: inline-block; }
  .IE .publisher_header {
    height: 1%; }
  .publisher_header {
    display: block; }
  .publisher_header div.user_profile {
    display: inline;
    float: left; }
    .publisher_header div.user_profile .user_logo {
      display: inline;
      float: left;
      margin-right: 20px; }
      .publisher_header div.user_profile .user_logo img {
        border: 1px solid #999999;
        padding: 2px;
        width: 100px;
        height: 100px; }
    .publisher_header div.user_profile .user_data {
      display: inline;
      float: left; }
      .publisher_header div.user_profile .user_data ul.infos {
        font-size: 0.9em;
        margin-top: 5px;
        margin-left: 20px; }
        .publisher_header div.user_profile .user_data ul.infos li {
          list-style: disc;
          padding: 2px 0; }
  .publisher_header div.help {
    display: inline;
    float: right;
    width: 600px; }
    .publisher_header div.help h4 {
      padding-left: 20px;
      background: url(/images/design/icons/i_help02.gif) left no-repeat;
      color: #666666;
      margin-bottom: 5px; }
    .publisher_header div.help ul {
      margin-left: 20px; }
      .publisher_header div.help ul li {
        color: #888888;
        padding: 1px 0; }
        .publisher_header div.help ul li a {
          color: #888888; }
          .publisher_header div.help ul li a:hover, .publisher_header div.help ul li a:active {
            color: black;
            background-color: transparent;
            text-decoration: underline; }

table.reservations {
  margin-bottom: 20px;
  width: 100%; }
  table.reservations thead tr {
    background: #dddddd; }
    table.reservations thead tr th {
      background: #dddddd;
      font-size: 0.95em;
      border: 1px solid #aaaaaa;
      padding: 3px 3px;
      vertical-align: middle;
      text-align: center; }
  table.reservations tbody tr td {
    font-size: 0.95em;
    border: 1px solid #aaaaaa;
    padding: 4px 3px; }
  table.reservations tbody tr.total, table.reservations tbody tr.average {
    background: #ddeeff; }
    table.reservations tbody tr.total td, table.reservations tbody tr.average td {
      background: #ddeeff; }
  table.reservations tbody td.actions a {
    padding: 0 2px; }
  table.reservations th.user_name {
    width: 100px; }
  table.reservations th.part_time {
    width: 100px; }
  table.reservations th.shoe_type {
    width: 100px; }
  table.reservations th.board_stance {
    width: 100px; }
  table.reservations th.height {
    width: 100px; }
  table.reservations th.shoe_size {
    width: 100px; }
  table.reservations th.actions {
    width: 140px; }
  table.reservations td.user_name {
    text-align: center; }
  table.reservations td.resort {
    text-align: center; }
  table.reservations td.part_time {
    text-align: center; }
  table.reservations td.shoe_type {
    text-align: center; }
  table.reservations td.board_stance {
    text-align: center; }
  table.reservations td.height {
    text-align: center; }
  table.reservations td.shoe_size {
    text-align: center; }
  table.reservations td.actions {
    text-align: center; }

table.join_requests {
  width: 100%; }
  table.join_requests thead tr {
    background: #eeeeee; }
    table.join_requests thead tr th {
      background: #eeeeee;
      border: 1px solid #cccccc;
      padding: 4px 7px;
      vertical-align: middle;
      text-align: center;
      font-weight: normal;
      font-size: 0.9em; }
  table.join_requests tbody tr td {
    border: 1px solid #cccccc;
    padding: 4px 7px;
    font-size: 0.9em; }
  table.join_requests .first {
    border-left: none; }
  table.join_requests .last {
    border-right: none; }
  table.join_requests .msg {
    padding: 30px;
    text-align: center; }
  table.join_requests th.status {
    width: 60px; }
  table.join_requests th.timestamp {
    width: 120px; }
  table.join_requests th.result {
    width: 80px; }
  table.join_requests th.note {
    width: 120px; }
  table.join_requests th.etc {
    width: 300px; }
  table.join_requests td.status {
    text-align: center; }
  table.join_requests td.campaign {
    text-align: left; }
  table.join_requests td.timestamp {
    text-align: center; }
  table.join_requests td.result {
    text-align: center; }
  table.join_requests td.note {
    text-align: left; }

.income_summary {
  padding: 30px 10px 40px; }
  .income_summary:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
  .income_summary {
    display: inline-block; }
  .IE .income_summary {
    height: 1%; }
  .income_summary {
    display: block; }
  .income_summary h2 {
    clear: both;
    font-size: 1em;
    margin-bottom: 5px;
    padding-left: 22px;
    background: url(/images/design/icons/i_profit.gif) left no-repeat; }
  .income_summary table.summary {
    display: inline;
    float: left; }
    .income_summary table.summary td {
      border: 1px solid #cccccc;
      width: 350px;
      padding: 7px 15px 7px; }
      .income_summary table.summary td div.label {
        display: inline;
        float: left;
        padding: 5px 0;
        width: 100px; }
      .income_summary table.summary td div.value {
        text-align: right;
        background: white;
        padding: 5px 0 1px; }
        .income_summary table.summary td div.value span.amount_value {
          font-size: 1.5em; }
          .IE .income_summary table.summary td div.value span.amount_value {
            font-weight: bold; }
        .income_summary table.summary td div.value span.amount_unit {
          padding-left: 3px;
          padding-right: 5px; }
  .income_summary div.transfer_request {
    display: inline;
    float: left;
    margin-left: 20px; }
    .income_summary div.transfer_request span.button {
      display: inline;
      float: left;
      display: block;
      background: url("/images/design/bg/btn_gray_big.gif") left no-repeat;
      padding-left: 30px; }
      .income_summary div.transfer_request span.button a {
        display: block;
        margin: 0;
        background: url("/images/design/bg/btn_gray_big.gif") right no-repeat;
        padding: 13px 30px 12px 0; }
        .IE .income_summary div.transfer_request span.button a {
          font-weight: bold; }
      .income_summary div.transfer_request span.button a, .income_summary div.transfer_request span.button a:visited {
        color: #444444;
        background-color: transparent;
        text-decoration: none; }
      .income_summary div.transfer_request span.button a:hover, .income_summary div.transfer_request span.button a:active {
        color: #444444;
        background-color: transparent;
        text-decoration: underline; }

ul.income_nav {
  display: inline;
  float: left;
  padding: 10px;
  font-size: 0.9em; }
  ul.income_nav li {
    display: inline;
    float: left; }
    ul.income_nav li a, ul.income_nav li a:visited {
      color: #999999;
      background-color: transparent;
      text-decoration: none; }
    ul.income_nav li a:hover, ul.income_nav li a:active {
      color: black;
      background-color: transparent;
      text-decoration: underline; }
    ul.income_nav li.current a, ul.income_nav li.current a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none; }
    ul.income_nav li.current a:hover, ul.income_nav li.current a:active {
      color: black;
      background-color: transparent;
      text-decoration: underline; }
    ul.income_nav li.spacer {
      padding: 0 10px;
      color: #666666; }

.income_section {
  clear: both;
  padding: 5px 10px; }
  .income_section .filters {
    margin-bottom: 5px; }

table.profits {
  width: 100%;
  margin-bottom: 50px; }
  table.profits thead tr {
    background: #eeeeee; }
    table.profits thead tr th {
      background: #eeeeee;
      border: 1px solid #cccccc;
      padding: 10px 3px;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      font-size: 0.9em; }
  table.profits tbody tr td {
    border: 1px solid #cccccc;
    padding: 4px 7px;
    font-size: 0.9em; }
  table.profits tbody tr.total, table.profits tbody tr.average {
    background: #eeeeee; }
    table.profits tbody tr.total td, table.profits tbody tr.average td {
      background: #eeeeee; }
    table.profits tbody tr.total td.total, table.profits tbody tr.average td.total {
      text-align: center; }
  table.profits tbody td.actions a {
    padding: 0 2px; }
  table.profits .msg {
    padding: 30px;
    text-align: center; }
  table.profits th.date {
    width: 180px; }
  table.profits th.note {
    width: 260px; }
  table.profits th.prize {
    width: 160px; }
  table.profits td.date {
    text-align: center; }
  table.profits td.note {
    text-align: left; }
  table.profits td.prize {
    text-align: right; }
  table.profits tr.total td {
    text-align: right; }

table.transfers {
  width: 100%;
  margin-bottom: 50px; }
  table.transfers thead tr {
    background: #eeeeee; }
    table.transfers thead tr th {
      background: #eeeeee;
      border: 1px solid #cccccc;
      padding: 10px 3px;
      vertical-align: middle;
      text-align: center;
      font-weight: bold;
      font-size: 0.9em; }
  table.transfers tbody tr td {
    border: 1px solid #cccccc;
    padding: 4px 7px;
    font-size: 0.9em; }
  table.transfers tbody tr.total, table.transfers tbody tr.average {
    background: #eeeeee; }
    table.transfers tbody tr.total td, table.transfers tbody tr.average td {
      background: #eeeeee; }
    table.transfers tbody tr.total td.total, table.transfers tbody tr.average td.total {
      text-align: center; }
  table.transfers tbody td.actions a {
    padding: 0 2px; }
  table.transfers .msg {
    padding: 30px;
    text-align: center; }
  table.transfers th.requested_date {
    width: 160px; }
  table.transfers th.transfered_date {
    width: 160px; }
  table.transfers th.amount {
    width: 120px; }
  table.transfers th.commission {
    width: 120px; }
  table.transfers th.net_price {
    width: 120px; }
  table.transfers td.requested_date {
    text-align: center; }
  table.transfers td.transfered_date {
    text-align: center; }
  table.transfers td.amount {
    text-align: right; }
  table.transfers td.commission {
    text-align: right; }
  table.transfers td.net_price {
    text-align: right; }
  table.transfers td.etc {
    text-align: left; }

.publisher_transfer_popup {
  border: 10px solid #0db4e9;
  padding: 25px 30px 0;
  width: 500px; }
  .publisher_transfer_popup h2 {
    font-size: 1.3em;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px; }
  .publisher_transfer_popup ul.buttons {
    padding-top: 40px;
    padding-left: 160px;
    padding-bottom: 30px; }
    .publisher_transfer_popup ul.buttons:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      overflow: hidden;
      visibility: hidden; }
    .publisher_transfer_popup ul.buttons {
      display: inline-block; }
    .IE .publisher_transfer_popup ul.buttons {
      height: 1%; }
    .publisher_transfer_popup ul.buttons {
      display: block; }
    .publisher_transfer_popup ul.buttons li {
      display: inline;
      float: left;
      margin-right: 17px;
      font-size: 0.95em; }
      .publisher_transfer_popup ul.buttons li.commit span.bg_button {
        display: block;
        background: url("/images/design/bg/submit_confirm.gif") left no-repeat;
        padding-left: 13px; }
        .publisher_transfer_popup ul.buttons li.commit span.bg_button a {
          display: block;
          margin: 0;
          background: url("/images/design/bg/submit_confirm.gif") right no-repeat;
          padding: 7px 13px 6px 0; }
          .IE .publisher_transfer_popup ul.buttons li.commit span.bg_button a {
            font-weight: bold; }
        .publisher_transfer_popup ul.buttons li.commit span.bg_button a, .publisher_transfer_popup ul.buttons li.commit span.bg_button a:visited {
          color: white;
          background-color: transparent;
          text-decoration: none; }
        .publisher_transfer_popup ul.buttons li.commit span.bg_button a:hover, .publisher_transfer_popup ul.buttons li.commit span.bg_button a:active {
          color: white;
          background-color: transparent;
          text-decoration: underline; }
      .publisher_transfer_popup ul.buttons li.cancel span.bg_button {
        display: block;
        background: url("/images/design/bg/submit_cancel.gif") left no-repeat;
        padding-left: 13px; }
        .publisher_transfer_popup ul.buttons li.cancel span.bg_button a {
          display: block;
          margin: 0;
          background: url("/images/design/bg/submit_cancel.gif") right no-repeat;
          padding: 7px 13px 6px 0; }
          .IE .publisher_transfer_popup ul.buttons li.cancel span.bg_button a {
            font-weight: bold; }
        .publisher_transfer_popup ul.buttons li.cancel span.bg_button a, .publisher_transfer_popup ul.buttons li.cancel span.bg_button a:visited {
          color: #666666;
          background-color: transparent;
          text-decoration: none; }
        .publisher_transfer_popup ul.buttons li.cancel span.bg_button a:hover, .publisher_transfer_popup ul.buttons li.cancel span.bg_button a:active {
          color: #666666;
          background-color: transparent;
          text-decoration: underline; }
