<ul class="main_tab_nav">
  <li><%= link_to "예약시스템 홈으로", root_path, { :target => "_blank" } %></li>
  <li class="spacer">&nbsp;</li>
  <%= navigation_tag :li, current_controller?("admin/dashboard"),
    (link_to "Dashboard", :admin_dashboard, :class => "action") %>
  <%= navigation_tag :li, current_controller?(["admin/products", "admin/constraints", "admin/coupons", "admin/reservations"]),
    (link_to "상품및 쿠폰관리", :admin_products, :class => "action") %>
</ul>
