<div class="policy">

  <h4>주의사항</h4>
  <ol>
    <li>이용전일 12시까지 예약하셔야 이용 가능합니다.</li>
    <li>취소 및 변경의 경우 전일 12시까지 취소 및 변경 하셔야 합니다.</li>
    <li>일요일, 월요일 사용하실분은 예약센터 휴무(토, 일 및 공휴일 휴무)관계로 전주 금요일 까지 취소 변경 하셔야 합니다.</li>
    <li>예약 후 미 사용시 취소 수수료 10,000원 발생됩니다.</li>
    <li>예약 후 사용가능합니다.(현장 사용 불가 / 현장 사용시 정상가 지불)</li>
    <li>12월24일, 25일, 30일, 31일 / 1월1일, 2일은 극성수기로 사용 불가합니다.</li>
    <li>3일 연속 사용후 3일 유예 기간후 재 사용 가능합니다.</li>
  </ol>

  <h4>사용제한</h4>
  <ol>
    <li>본인(최초 등록된 사용자)외 부정 사용시</li>
    <li>예약후 미사용 2회 이상시</li>
  </ol>
</div>
