<div class="section">
  <h4>고객센터</h4>
  <dl class="side_table_view">
    <dt>문의전화</dt>
    <dd>02-2278-6633</dd>

    <dt>업무시간</dt>
    <dd>오전 10시 ~ 오후 5시</dd>
    <dd>(토,일 및 공휴일 휴무)</dd>
  </dl>
</div>
