.DS_Store
.bundle
_bm
log/*.log
log/*
tmp/**/*
config/database.yml
config/mongoid.yml
db/schema.rb

public/system/**/*
public/_files/**/*
upload/**/*

public/stylesheets/sass/.sass-cache/
public/googlehostedservice.html

Gemfile.lock
