<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <%= render "admin/products/header" %>

    <table class="coupons">
      <thead>
        <tr>
          <th class="coupon_number">쿠폰번호</th>
          <th class="quantity">수량</th>
          <th class="used_quantity">사용한 수량</th>
          <th class="purchaser_name">구매자</th>
          <th class="phone_number">연락처</th>
          <th class="agency_name">구매업체</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @coupons.each do |coupon| %>
          <%= render 'admin/coupons/tr_coupon', :product => @product, :coupon => coupon %>
        <% end %>
      </tbody>
    </table>

  </div><!-- unit_content -->

</div><!-- container_1box -->
