<% product = product %>

<div class="popup_container">

  <div class="popup_header">
    <h2>Import from excel file</h2>
  </div><!-- popup_header -->

  <div class="popup_body">
    <%= form_for product, :url => import_from_excel_file_admin_product_path(product), :html => { :method => :post, :multipart => true, :target => "magic_hole" } do |f| %>

      File: <%= file_field_tag "excel_file" %>

      <%= f.submit "불러오기" %>

    <% end %>
  </div><!-- popup_body -->

</div><!-- popup_container -->

<iframe id="magic_hole" name="magic_hole" class="fake_ajax"></iframe>
