<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="section">
      <ul class="filters">
        <li>
          <div class="bg_anchor"><%= link_to "상품등록", new_admin_product_path %></div>
        </li>
      </ul>
    </div>


    <div class="section">
      <h3>상품목록</h3>

      <table class="products">
        <thead>
          <tr>
            <th class="name">상품명</th>
            <th class="provider_name">판매업체</th>
            <th class="resort">스키장</th>
            <th class="ticket_type">이용권</th>
            <th class="date_range">이용기간</th>
            <th class="coupons">쿠폰목록</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <%= render "admin/products/tr_product", :product => product %>
          <% end %>
        </tbody>
      </table>

    </div>


  </div><!-- unit_content -->

  <div class="unit_rail">
  </div><!-- unit_rail -->

</div><!-- container_1box -->
