<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <%= render "admin/products/header" %>

    <div class="nav_history">
      <%= link_to "예약목록>", [:admin, :reservations] %>
    </div>

    <div class="section">
      <%= render "reservations/section_reservation_detail", :reservation => @reservation %>
    </div>

    <div class="section">

      <table class="orders">
        <thead>
          <tr>
            <th class="user_name">사용자명</th>
            <th class="shoe_type">장비구분</th>
            <th class="board_stance">장비옵션</th>
            <th class="height">신장</th>
            <th class="shoe_size">신발사이즈</th>
            <th class="actions"></th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <%= render "admin/orders/tr_order", :product => @product, :coupon => @coupon, :reservation => @reservation, :order => order %>
          <% end %>
        </tbody>
      </table>

    </div>

  </div><!-- unit_content -->

  <div class="unit_rail">
  </div><!-- unit_rail -->

</div><!-- container_1box -->
