<div class="container_1box">

  <div class="container_header">
  </div><!-- container_header -->

  <div class="unit_content">

    <div class="section">

      <%= semantic_form_for [:admin, @reservation] do |f| %>

        <h3>예약 편집</h3>

        <%= render "admin/reservations/form", :f => f , :reservation => @reservation %>

        <%= f.submit "수정" %>

      <% end %>

    </div>

  </div><!-- unit_content -->

</div><!-- container_1box -->
